.popoverStyle{
    z-index: 99999 !important;
}
a {
    color: #7bed9f !important;
}
.fc-h-event .fc-event-title-container {
    color: #000000 !important;
    background-color: #aee83bdc !important;
}
.fc-toolbar-title {
    color: #aee83b !important;
    border: #000000 !important;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start {
    background-color: #09ff1d !important;
}
.fc-button  {
    color: #000000 !important;
    background-color: #aee83b !important;
}
.fc-list-event-time {
    color: #aee83b !important;
    background-color: #000000 !important;
}
.fc-list-event-title {
    color: #aee83b !important;
    background-color: #000000 !important;
}
.fc-list-event-graphic {
    color: #aee83b !important;
    background-color: #000000 !important;
}
.fc-daygrid-event-dot {
    border: calc(var(--fc-daygrid-event-dot-width)/2) solid #000000; 
}
.fc-direction-ltr .fc-daygrid-event.fc-event-end, 
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
    color: #000000 !important; /* Change to white */
}